<h3>{{ ec.caption }}</h3>

<ul>
  <li ng-repeat="person in ec.people">
    {{ person.name }}
  </li>
</ul>

<hr>

Enter a name:
<input ng-model="ec.name">

<button class="btn" ng-click="ec.showName()">
  Show Name in Console
</button>

<button class="btn" ng-click="ec.addPerson()">
  Add Person to List
</button>

