<h2>People List Examples</h2>

<people-list
  caption="Star Wars People:"
  people="mc.peopleList"
></people-list>

<pre ng-bind="mc.peopleList | json"  style="height: 150px; overflow: scroll;"></pre>

