<div
  ng-style="mc.someStyleObject"
>
  <h2>Star Wars Person:</h2>

  <pre ng-bind="mc.swPerson | json"></pre>

</div>


<div
  style="border: 3px solid green; border-radius: 10px; padding: 10px; margin: 10px;"  
>
  <h2>People List Examples</h2>
  
  <people-list
    caption="Workers:"
    people="mc.peopleList"
  ></people-list>

  <pre ng-bind="mc.peopleList | json"></pre>
</div>

<div
  style="border: 3px solid green; border-radius: 10px; padding: 10px; margin: 10px;"  
>
  <h2>Shared Object Value Examples</h2>

  <pre ng-bind="mc.obj | json"></pre>

  <input ng-model="mc.obj.widgetCount">
</div>


<div
  style="border: 3px solid green; border-radius: 10px; padding: 10px; margin: 10px;"  
>
  <h2>Math Service Examples</h2>

  <h3>Sum: {{ mc.sum }}</h3>

  <h3>Mod: {{ mc.mod }}</h3>

  <h3>Mult: {{ mc.mult }}</h3>

</div>


<p><input ng-model="mc.customTagline"></p>

<div
  style="border: 3px solid green; border-radius: 10px; padding: 10px; margin: 10px;"  
>
  <standard-app-header
    tagline="{{ mc.customTagline }}"
    logo-image="../demo-data/flags/us.png"
  ></standard-app-header>

</div>


