<div>

  <h1>
    {{ sah.appTitle }}
    <small>{{ sah.tagline }}</small>
  </h1>

  <ul class="nav nav-pills">
    <li><a href="#/math"    >Math Examples</a></li>
    <li><a href="#/shared"  >Shared Object Example</a></li>
    <li><a href="#/swperson">Star Wars Person</a></li>
    <li><a href="#/people"  >People List</a></li>
  </ul>

  <hr style="border: 1px solid blue;">
  
<!--
  <h2>{{ sah.faveAnimal }}</h2>
 
  <p>Widget Count: <input ng-model="sah.sobj.widgetCount"></p>

  <p>Change the tagline: <input ng-model="sah.tagline"></p>

  <img style="width: 150px;" ng-src="{{ sah.logoImage }}">
-->

</div>

